<%= turbo_frame_tag dom_id(comment) do %>
  <div class="card">
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-center mb-2">
        <div class="card-subtitle">
          <span class="fw-bolder">
            <%= current_user.email %>
          </span>
          <span class="fw-light fs-6">-</span>
          <span class="text-muted fw-normal"><%= time_ago_in_words(comment.created_at) %></span>
        </div>
      </div>
      <p class="card-text"><%= comment.body %></p>
    </div>
  </div>
<% end %>
