<%= form_with scope: :post, url: posts_path, method: :post, data: { controller: "form", action: "turbo:submit-end->form#reset" }, class: "w-full" do |f| %>
  <div class="relative">
    <%= f.text_area :body, 
        rows: 4,
        class: "block p-2.5 w-full text-sm bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary focus:border-primary resize-none",
        placeholder: "What's going on?" 
      %>
    <%= f.submit "Send", class: "btn btn-primary btn-sm absolute right-2.5 bottom-2.5", id: "reply-button-addon" %>
  </div>
<% end %>
<div id="posts" class="mt-5 w-full flex flex-col gap-3">
  <% @posts.each do |post| %>
    <%= render "posts/post", post: post %>
  <% end %>
</div>
